.card--container{
    width: 200px;
    height: 250px;
    background: #00000063;
    border-radius: 8px;
   animation: fadeInUp 1s 1.3s backwards;
}

.card--container--light{
    width: 200px;
    height: 250px;
    background: #6b6a6a;
    border-radius: 8px;
}
.card--container:hover{
    background: linear-gradient(rgb(196, 22, 123),rgb(216, 55, 82));
}
.card--container--light:hover{
    background: linear-gradient(rgb(196, 22, 123),rgb(216, 55, 82));
}
.card--image{
    width: 100%;
    height: 70%;
}
.card--image img{
    height: 100%;
    width: 100%;
}


.cardname{
    width: 70%;
    padding-left: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
  
}

.cardname--light{
    width: 70%;
    padding-left: 20px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}
.cardname p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
}
.subtitle{
    font-size: 11px;
    color: #ffffff85;
}

.card{
    width: 70%;
}

.play{
    position: relative;
    left: 75%;
    cursor: pointer;
    bottom: 15%;
}


.controls{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    position: absolute;
    top : 0;
    animation: fadeInUp 2s;
    left: 0;
    z-index: 9999;
}

.controls--light{
    width: 100%;
    height: 100vh;
    position: absolute;
    top : 0;
    left: 0%;
    background: rgb(68, 67, 67);
    z-index: 1;
}

.all-flex{
    width: 100%;
    background:#222222;
    height: 20%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.player{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.player--pad{
   padding: 12px 15px;
   background: transparent;
   background: none;
   cursor: pointer;
   border: 2px solid  rgb(216, 55, 82);
   border-radius: 50%;
}

.player--pad:hover{
    background: linear-gradient(rgb(196, 22, 123),rgb(216, 55, 82));
}

.player--flex{
    display: flex;
    align-items: center;
    gap: 8px;
}

.artist-img{
    width: 50px;
    height: 50px;
}
.artist-img img{
    width: 100%;
    height: 100%;
}

.artist--flex{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.artistName{
    margin-left: 32px;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
}
.arrow-down{
    position: absolute;
    right: 3%;
    top: 2%;
    cursor: pointer;
    animation: updown 5s infinite forwards;
}

.arrow-down:hover{
    background: rgba(236, 8, 84, 0.808);
    border-radius: 50%;
}

@keyframes updown{
    0%{
        transform: translateY(-5px);
    }
    25%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    75%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}