.search-body{
    width: 100%;
    height: auto;
    background: #333;
    padding-top: 20px;
    overflow: hidden;
    min-height: 100vh;
}
.search-body-light{
    width: 100%;
    height: auto;
    background: rgb(235, 232, 232);
    padding-top: 20px;
    overflow: hidden;
    min-height: 100vh;
}

.search-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-arrow{
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.search-arrow:hover{
    background: linear-gradient(220deg,rgb(196, 22, 124),rgb(216, 55, 82),rgba(255, 217, 0, 0.548));
}
.search-input{
    display: flex;
    align-items: center;
}
.search-input-light{
    display: flex;
    align-items: center;
}
.search-input input{
    padding: 12px 30px;
    width: 300px;
    margin-left: 10px;
    border-radius: 22px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    border: none;
    background: #000;
    color: white;
    font-size: 15px;
    text-indent: 5px;
}
.search-input-light input{
    padding: 12px 30px;
    width: 300px;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 22px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    border: none;
    background: #ffffff;
    color: rgb(2, 2, 2);
    text-indent: 5px;
}
.input-search{
    transform: translateX(-350px);
}

.artist-container{
    width: 85%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 12px;
    background: none;
    margin: 70px auto;
}

.no-results{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 50%;
    top: 20%;
    font-weight: 300;
    transform: translate(-50%,-50%);
}

.no-results-light{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 50%;
    top: 20%;
    font-weight: 300;
    transform: translate(-50%,-50%);
}