@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

.hero-body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(231, 230, 230), rgb(209, 205, 205));
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.hero-body-dark {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.body--img {
  width: 100%;
  height: 100%;
}
.body--img .background {
  width: 18%;
  height: 100%;
}
.body--img .dark {
  width: 100%;
  height: 100%;
}

.hero--text {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  transform: translate(-50%, -50%);
  color: #202020;
  font-weight: 900;
}

.hero-text-dark {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 900;
}
h1 {
  animation: slideInLeft 1s backwards;
}

.span {
  -webkit-text-stroke: 2px rgb(51, 50, 50);
  color: whitesmoke;
}

.span-dark {
  -webkit-text-stroke: 2px rgb(219, 216, 216);
  color: rgb(19, 19, 19);
}
.hero--img {
  position: relative;
  top: -45%;
  left :95%;
  transform: translate(-50%, -50%);
}

.headphones {
  width: 600px;
  height: 500px;
  animation: pulse 10s infinite;
}

.music {
  padding: 6px 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.733);
  border-bottom: 2px solid black;
  font-family: sans-serif;
  font-weight: bold;
  display: inline-flex;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  animation: fadeInUp 1s;
}
.music-dark {
  padding: 6px 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.733);
  border-bottom: 2px solid rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: bold;
  display: inline-flex;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  animation: fadeInUp 1s;
}
.music:hover {
  border-bottom: 3px solid rgb(248, 4, 65);
  color: #000;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.music-dark:hover{
    border-bottom: 3px solid rgb(248, 4, 65);
    color: #ffffff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.social {
  width: 30px;
  height: 200px;
  background: ghostwhite;
  position: absolute;
  bottom: 1%;
  right: 0%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-right: 20px;
  padding-left: 14px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.social-dark {
  width: 30px;
  height: 200px;
  background: rgba(20, 20, 20, 0.767);
  position: absolute;
  bottom: 1%;
  right: 0%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-right: 20px;
  padding-left: 14px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.social-links{
  width: 25px;
  height: 5px;
}

.hero-body-two{
  width: 100%;
  height: 105vh;
  font-family: "Roboto", sans-serif;
  padding: 40px 60px;
  background: linear-gradient(100deg,rgb(221, 219, 219),rgb(190, 177, 188));
  overflow: hidden;
  border-bottom: 4px solid rgb(216, 55, 82);
}

.hero-body-two-dark{
  width: 100%;
  height: 105vh;
  font-family: "Roboto", sans-serif;
  padding: 40px 60px;
  background: linear-gradient(100deg,rgb(0, 0, 0),rgb(172, 133, 165));
  overflow: hidden;
  border-bottom: 4px solid rgb(216, 55, 82);
}




.hero-title h1{
  font-weight: 500;
  border-left: 2px solid rgb(250, 34, 88);
  padding-left: 10px;
  font-size: 25px;
}

.hero-title-dark h1{
  font-weight: 500;
  border-left: 2px solid rgb(250, 34, 88);
  color: #fff;
  padding-left: 10px;
  font-size: 25px;
}

.hero-two-content{
  position: absolute;
  top: 110%;
  left: 50%;
}

.img-two{
  width: 500px;
  background-size: cover;
  height: 300px;
  
}

.details h2{
  font-weight: 500;
}
.details h4{
  font-weight: 500;
}
.details p{
  width: 60%;
  font-size: 13px;
  color: #333;
}

.details-dark h2{
  font-weight: 500;
  color: white;
}
.details-dark h4{
  font-weight: 500;
  color: white;
}
.details-dark p{
  width: 60%;
  font-size: 13px;
  color: #bbb9b9;
}

.trend-flex{
  display: flex;
  align-items: center;
}

.trend-container{
  width: 300px;
  height: 55px;
  border-bottom: 1px solid silver;
  border-right:1px solid silver ;
  border-top: 1px solid silver;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.trend-container:hover{
  background: linear-gradient(rgba(196, 22, 124, 0.699),rgba(216, 55, 82, 0.678));
  transform: translateX(20px);
  transition: 0.5s ease;
}

.artist-img{
  border-radius: 50%;
}

.artist-img{
  margin-left: 20px;
}
.artistname{
  width: 60%;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  color: #000000af;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-discover{
  padding: 14px 50px;
  width: 50px;
  height: 30px;
  position: relative;
  top: 9px;
  right: 9px;
  border: 1px solid rgb(216, 55, 82);
  color: rgb(0, 0, 0);
  transition: 0.5s ease-out;
  border-radius: 20px;
}

.link-discover:hover{
  background: linear-gradient(rgb(196, 22, 123),rgb(216, 55, 82));
  color: rgb(255, 255, 255);
  border: none;
}

.carousel{
  width: 490px;
  height: 600px;
  padding: 12px 20px;
}